#content {
    height:100%;
    width:100%;
}

#greeting-container {
  margin-top: 20px;
}

.toolbar {
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: row;
    height: 5em;
    align-items: center;
    width: 100%;
}

.toolbar-links {
    margin-right: "100px";
    color: #0a2342;
    font: 2.5em "Courier New";
    
}

a:hover {
    text-decoration: underline;
}

a { 
    color: inherit;
    display: inline-block;
    text-decoration: none;
   
} 

.icons-links {
    margin-left: auto;
    padding-right: 10em;
}

.home-section1 {
    margin-top: 5em;
    margin-left: 10em;
    display: flex;
    flex-direction: row;
}

.home-section1-desc {
    display: flex;
    flex-direction: column;
    color: #0a2342;
    margin-left: 3em;
    padding-right: 5em 
}

.home-name {
    font: 4em 'Courier New', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
.home-occupation {
    font: 3em 'Courier New', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.home-about-desc {
    font: 1.5em 'Courier New', sans-serif;
}

.self-portrait {
    height: 25em;
    width: 25em;
}