body {
    margin: 0;
}

#content {
    width: 100%;
}

#content-about {
    width: 100%;
    padding-bottom: 5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#greeting-container {
  margin-top: 20px;
}

.toolbar {
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    height: 5em;
    align-items: center;
    width: 100%;
}

.toolbar-links {
    padding-left: 5em;
    color: #0a2342;
    font: 2.5em "Courier New";
    
}

a:hover {
    text-decoration: underline;
}

a { 
    color: inherit;
    display: inline-block;
    text-decoration: none;
   
} 

.icons-links {
    margin-left: auto;
    padding-right: 10em;
}

/* Home page */

.home-section1 {
    margin-top: 5em;
    margin-left: 10em;
    display: flex;
    flex-direction: row;
}

.home-section1-desc {
    display: flex;
    flex-direction: column;
    color: #0a2342;
    margin-left: 3em;
    padding-right: 5em 
}

.home-name {
    font: 4em 'Courier New', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
.home-occupation {
    font: 3em 'Courier New', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.home-about-desc {
    font: 1.5em 'Courier New', sans-serif;
}

.self-portrait {
    height: 25em;
    width: 25em;
}

.about-self-portrait {
    width: 50em;
}

#recent-projects {
    height: 50em;
    width: 100%;
    background-color: #0a2342;
}

.recent-projects-title {
    color: white;
    font: 4em 'Courier New', sans-serif;
    padding-top: 1em;
    padding-left: 2em;
    
}

.recent-projects-list {
    margin: 0;
    color: white;
    font: 3em 'Courier New', sans-serif;
    padding-left: 2em;
    padding-right: 1em;
    
}

/* About page */

.about-hobbies-title {
    background-color: #0a2342;
    display: flex;
    justify-content: center;
    color: white;
    font: 2.5em 'Courier New', sans-serif;
}

.about-hobbies-content {
    background-color: #0a2342;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    font: 2em 'Courier New', sans-serif;
}

.about-image-title {
    background-color: #0a2342;
    display: flex;
    justify-content: center;
    color: white;
    font: 2.5em 'Courier New', sans-serif;
}

.about-image-content {
    background-color: #0a2342;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5em;
    padding-bottom: 5em;
}

.about-hobbies-content li {
    display: inline-block;
}

.about-image-next-right {
    color: white;
    font-size: 3em;
    padding-left: 1em;
}

.about-image-next-left {
    color: white;
    font-size: 3em;
    padding-right: 1em;
}

.gallery-portrait {
    height: 30em;
    width: 30em;
}


/* Project Page */

.project-content {
    margin-left: 10em;
}

/* Contact page */

.contact-content {
    margin-left: 10em;
}